
/*  Form.js  */

.form-container {
    left: 15pt;
    margin-right: 60%;
    font-size: 30pt;
    border-style: solid;
    background-color: #d0c3c366;
}

#d1 input {
    border-radius: 8px;
    border-style: ridge;
    width: 500px;
    height: 30px;
    padding: 5px;
    margin: 20px;
    font-size: 15px;
}

#d2 input {
    border-radius: 8px;
    border-style: ridge;
    width: 500px;
    height: 30px;
    padding: 5px;
    margin: 20px;
    font-size: 15px;
}

#d3 input {
    border-radius: 8px;
    border-style: solid;
    width: 500px;
    height: 30px;
    padding: 5px;
    margin: 20px;
    font-size: 15px;
}

#d4 input {
    border-radius: 8px;
    border-style: solid;
    width: 500px;
    height: 30px;
    padding: 5px;
    margin: 20px;
    font-size: 15px;
}

.title  {
    color: rgb(205, 71, 47);
    font-style: italic;
    position: relative; left: 16px;
    
}

.submit {
    position: relative; top:70px; left:16px;
    background-color: #4CAF50;
    font-size: 20pt;
    border: none;
    border-radius: 4px;
    width: 200px;
    padding: 10px;
}


/*  Car.js  */

.list {
    position : absolute;
    margin-left: 70%;
    top:-10pt;
    font-size: 15pt;
    
}

.title_car_info {
    color: rgb(205, 71, 47);
    font-style: italic;
    position: relative;
}

.name-box {
    position: relative;
    border: 1px solid black;
    top: 16px;
}

.distance-box {
    border: 1px solid black;
}

.liters-box {
    position: relative;
    border: 1px solid black;
    top:-16px;
}

.price-box {
    position: relative;
    border: 1px solid black;
    top:-32px;
}

.car-info-list {
    position: relative;
    border-style: solid;
    padding: 10px;
}

.vivi {
    font-style: blue;
}

/*  TotalStats.js  */

.average {
    position: absolute;
    margin-left: 40%;
    border-style: solid;
    padding: 15px;
    font-size: 15pt;
}

#a1 {
    color: rgb(205, 71, 47);
    font-style: italic;
}

#a2 {
    color: rgb(205, 71, 47);
    font-style: italic;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}